Requirements:

The modeling environment for this exercise was created using the python arcade library
If you're using windows and anaconda, this library can be installed by typing the following command in the anaconda prompt:
pip install arcade
